# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/

# Build artifacts
build/
dist/
*.egg-info/
*.spec

# cx_Freeze output
*.exe

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/